@import './app.scss';
@import 'common/transition.scss';
@import './other.scss';
@import './element.scss';
@import './iconSelector.scss';
@import './media/media.scss';
@import './waves.scss';
@import './dark.scss';
@import './fast.scss';


// 自定义指令 v-auth 增加 v-disabled 的类
.v-disabled{
  pointer-events: none;
  opacity: 0.7;
}

.no-wrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.text-no-wrap {
	white-space: nowrap;
}